# String operations

In [ ]:
# String Operations 
str = "Litu"

In [33]:
print(str)
print(str.isalnum()) # checks for alphanumeric characters
print(str.isdigit()) # checks for digits
print(str.istitle()) # It refers to the words that starts with capital characters.
print(str.isupper()) # checks for uppercase characters
print(str.islower()) # checks for lowercase characters
print(str.isspace()) # check for spaces 
print(str.endswith('u')) # checks whether that string ends with that given character or not
print(str.startswith('L')) # checks whether that string ends with that given character or not

Litu
True
False
True
False
False
False
True
True

# And Operations

In [34]:
True and True

True

In [7]:
True and False

False

In [8]:
False and True

False

In [9]:
False and False

False

# Or operation

In [35]:
True or True

True

In [11]:
True or False

True

In [12]:
False or True

True

In [14]:
False or False

False

# List Operations
Data structure that is mutable ordered sequence of elements.
Each element inside a list is called an item.

In [36]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list1.append(list2) #Results in a nested list
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [20]:
list1.extend(list2) #Results in a extended list
print(list1)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10], 6, 7, 8, 9, 10]

In [37]:
list = [1,2,3,4,5,6,7,8,9,10]
sum(list) # returns the sum of the elements of the list

55

In [25]:
print(list.pop()) # returns the last element that is oppped out of the list
print(list)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list.pop(1) # Removes the indexed element
print(list)

[1, 3, 4, 5, 6, 7, 8, 9]

In [29]:
list = [1,2,3,4,5,6,7,8,9]
print(min(list)) # returns the minimum element present in the list
print(max(list)) # returns the maximum element present in the list

1
9

In [30]:
list*2 # returns the same list extended by itself 2 times

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Sets
Unordered collection of items having no indexing & dplicate elements but can be iterated & is mutable

In [32]:
set = {1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [38]:
set1 = {1,2,3,4,3,2,5,4,2,2,4}
set1 # returns every character only once (No Duplication)

{1, 2, 3, 4, 5}

In [42]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6}
set2.difference(set1) # returns the item not present in set1 but present in set1

{6}

In [41]:
set2.difference_update(set1) # Updates the set2 by the difference element
print(set2)

{6}

In [43]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6}
set2.intersection(set1) # return the intersection of set1 and set2

{1, 2, 3, 4, 5}

In [46]:
set2.intersection_update(set1) # updates the set2 by the intersection set of set1 and set2
print(set2)

{1, 2, 3, 4, 5}

# Dictionary
Colection of data items which is unordered , mutable & indexed.
Format {"key" : "value"} pairs.

In [1]:
dict = {"car1" : "Mustang GT" , "car2" : "Audi Sports" , "car3" : "Mercedes Benz"}
dict["car1"] # returns Mustang GT ( value of "Car1" )
for i in dict:
    print(i) # returns all the keys ( Default )
for i in dict.values():
    print(i) # returns all the values
for i in dict.items():
    print(i) # returns all the key , value pairs

car1
car2
car3
Mustang GT
Audi Sports
Mercedes Benz
('car1', 'Mustang GT')
('car2', 'Audi Sports')
('car3', 'Mercedes Benz')

In [2]:
dict["car4"] = "Lambourghini" # Adds this data to the dictionary
dict

{'car1': 'Mustang GT',
 'car2': 'Audi Sports',
 'car3': 'Mercedes Benz',
 'car4': 'Lambourghini'}

In [4]:
dict["car1"] = "Maruti Suzuki" #  Replaces the car1 value by the given one (Mutability)
dict

{'car1': 'Maruti Suzuki',
 'car2': 'Audi Sports',
 'car3': 'Mercedes Benz',
 'car4': 'Lambourghini'}

Nested Dictionary

In [6]:
car_type = {"car1" : {"Mercedes" : 1960} , "car2" : {"Audi" : 1970} , "car3" : {"Ambassador" : 1980}}
print(car_type["car1"]) # returns the dictionary present at that key 
print(car_type["car2"]["Audi"]) # returns the value at that nested dictionary

{'Mercedes': 1960}
1970

# Tuples
Immutable datatype

In [12]:
tuple = ("Litu" , "Lisa" , "Sai")
try:
    tuple[2] = "Silu" # returns error as it is non-changeable , so it will not be replaced
except Exception as e:
    print(e)
    print(tuple.count("Litu")) # returns the frequency of the given element
    print(tuple.index("Sai")) # returns the index of the given element

'tuple' object does not support item assignment
1
2